@{
    ViewData["Title"] = "Get Started";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div class="landing-page">
    <div class="container">
        <div class="content">
            <h2 class="h2">Locker user manuals</h2>
            <a class="btn btn-danger get-started" asp-controller="Home" asp-action="MenuList">get started</a>
        </div>
    </div>
</div>