@using ICSLockers.Models

<div class="location d-flex justify-content-between">
    <div class="location-count col-lg-9 p-0">
        <div class="w-100 d-flex mb-3">
            <h6>@Model.LocationId</h6>
            <h3>@Model.LocationName - @Model.LocationId</h3>
        </div>
        <div class="w-100 d-flex justify-content-between">
            <h5>Locker Division: <span>05</span></h5>
            <h5>Lockers:  <span>500</span></h5>
        </div>
    </div>
    <div class="location-img">
        <img src="~/images/png/location.png" alt="">
    </div>
</div>
 