@using ICSLockers.Models;
@model ApplicationUser;


<div class="content-wrapper p-0">
    <div class="passcode d-flex align-items-center text-center">
        <div class="main-heading">
            <h5>Admin Login</h5>
            <p>ICS Login</p>
        </div>
        <div class="login-card">
            <h5>Enter User Passcode</h5>
            <input type="hidden" class="form-control user-email" value="@Model.UserName" />
            <input type="password" class="form-control user-passcode" minlength="6" maxlength="6">

            <button type="button" class="btn btn-danger login" onclick="fnAdminLoginMethod('Password')">LOGIN</button>
        </div>
        <div class="note">
            <p>* Enter User ID Number as Passcode to Login</p>
        </div>
    </div>
</div>
