@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Admin Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="/path/to/jquery.easy-pie-chart.css">
<div class="container-fluid main p-0">
    <div class="title-bar">
        <h5>Locate User Locker</h5>
    </div>
    <div class="locker-admin-panel">
        <div class="content-wrapper">
            <div class="passcode d-flex align-items-center text-center">
                <div class="main-heading">
                    <h5>Admin/Staff Login</h5>
                    <p>ICS Login</p>
                </div>
                <div class="login-card">
                    <h5>Enter Your UserName</h5>
                    <input type="text" class="form-control user-email" placeholder="example@gmail.com">
                    <h5>Enter Your password</h5>
                    <input type="password" class="form-control user-passcode" placeholder="******">

                    <button type="submit" class="btn btn-danger login" onclick="fnAdminLoginMethod()">Login</button>
                </div>
                <div class="note">
                    <p>* Enter User Email to Login</p>
                </div>
            </div>
        </div>
    </div>
</div>
