@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model List<DivisionModel>
@using ICSLockers.Models

@{
    ViewData["Title"] = "Division";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid main locker-unit admin p-0">
    <div class="admin title-bar d-flex">
        <div class="col-lg-6 p-0 d-flex align-items-center">
            <nav aria-label="breadcrumb bg-white">
                <ol class="breadcrumb bg-white p-0 m-0">
                    <li class="breadcrumb-item">
                        <a href="/Admin/Location">
                            <h5>Location</h5>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Division</li>
                </ol>
            </nav>
        </div>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <div class="col-lg-6 d-flex justify-content-end p-0 location ">
                <buttton type="button" class="btn btn-outline-primary add-locker" onclick="fnAddNewDivisionPopup()">Add Division</buttton>
            <buttton type="button" class="btn btn-outline-primary update-locker" onclick="fnUpdateDivisionPopup()">Update Division</buttton>
        </div>
        }
    </div>
    <div class="content-wrapper">
        <div class="passcode d-flex align-items-center text-center">
            <div class="main-heading">
                <h5>Division</h5>
            </div>
            <div class="col-lg-12 p-0">
                <div class="grid locker-unit-list">
                    @foreach (DivisionModel division in Model)
                    {
                            <partial name="_DivisionView" model="division" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade admin-modal" id="AddDivisionModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered locker-add-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLongTitle">Add Division</h5>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="row justify-content-center align-item-center d-flex fields">
                        <div class="col-lg-4"><label for="Locker Unit Number">Location Name</label></div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control locker-unit location-name" value="" disabled>
                        </div>  
                    </div>
                    <div class="row justify-content-center align-item-center d-flex fields">
                        <div class="col-lg-4"><label for="Locker Unit Number">Locker Division</label></div>
                        <div class="col-lg-6">
                            <div class="quantity-field">
                                <button class="value-button decrease-button" onclick="decreaseValue(this)" title="Azalt"> - </button>
                                <div class="number division-number">1</div>
                                <button class="value-button increase-button" onclick="increaseValue(this, 10)" title="Arrtır"> + </button>
                            </div>
                            
                        </div>
                        <div class="note">
                            <p>*  Maximum 10 divisions per location</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="fnAddDivision()">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade admin-modal" id="UpdateNewDivisionPopup" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered locker-add-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLongTitle">Update Division</h5>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">                    
                    <div class="row justify-content-center align-item-center d-flex fields">
                        <div class="col-lg-4 d-flex align-items-center"><label for="Locker Unit Number">Location Name</label></div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control locker-unit location-name" value="" disabled>
                        </div>
                    </div>
                    <div class="row justify-content-center align-item-center d-flex fields">
                        <div class="col-lg-4 d-flex align-items-center"><label for="Locker Unit Number">IP Number</label></div>
                        <div class="col-lg-6">
                            <input type="number" pattern="^(([0-9a-fA-F]{1}|[1-9a-fA-F]{1}[0-9a-fA-F]{1,3}):){7}([0-9a-fA-F]{1}|[1-9a-fA-F]{1}[0-9a-fA-F]{1,3})$"  placeholder="xxx.xxx.xxx.xx" class="form-control locker-unit location-name division-ip" value="">
                        </div>
                    </div>
                    <div class="row justify-content-center align-item-center d-flex fields">
                        <div class="col-lg-4 d-flex align-items-center"><label for="Locker Unit Number">Division Number</label></div>
                        <div class="col-lg-6">                            
                            <input type="text" class="form-control locker-unit division-name" value="">
                            @*<select class="form-control location-name form-control-sm division-dropdown">
                                <option disabled selected>--Select Division--</option>
                                <option>Divsion 1</option>
                                <option>Divsion 2</option>
                                <option>Divsion 3</option>
                                <option>Divsion 4</option>
                                <option>Divsion 5</option>
                                <option>Divsion 6</option>
                                <option>Divsion 7</option>
                                <option>Divsion 8</option>
                                <option>Divsion 9</option>
                                <option>Divsion 10</option>
                            </select>*@
                        </div>
                    </div>
                    <div class="row justify-content-center align-item-center d-flex fields">
                        <div class="col-lg-4 d-flex align-items-center"><label for="Locker Unit Number">Add Lockers</label></div>
                        <div class="col-lg-6">
                            <div class="quantity-field">
                                <button class="value-button decrease-button" onclick="decreaseValue(this)" title="Azalt"> - </button>
                                <div class="number locker-number">1</div>
                                <button class="value-button increase-button" onclick="increaseValue(this, 500)" title="Arrtır"> + </button>
                            </div>
                            
                        </div>
                        <div class="note">
                            <p>*  Maximum 500 Lockers per division</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="fnUpdateDivision()">Create</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Admin.js"></script>