@using ICSLockers.Models

@{
    ViewData["Title"] = "Location";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid main locker-location p-0">
    <div class="admin title-bar d-flex ">
        <div class ="col-lg-6 d-flex align-items-center p-0">
          <h5>Location</h5>       
        </div>
        <div class="col-lg-6 d-flex justify-content-end p-0">
            <buttton type="button" class="btn btn-outline-primary add-locker" onclick="fnAddNewLockerPopup()">Add Location</buttton>
        </div>
    </div>
    <div class="content-wrapper view-location">
        <div class="passcode d-flex align-items-center text-center">
            <div class="main-heading">
                <h5>Location</h5>
            </div>
            <div class="col-lg-12 p-0">
                <div class="col-lg-12 p-0 d-flex justify-content-end position-relative mb-4">
                    <input type="search" class="form-control location-search" placeholder="Search"/>
                    <img src="~/images/png/search.png" class="search-btn" alt="search">
                </div>
                <div class="grid location-list">
                    @foreach(LocationModel location in Model)
                    {
                        <partial name="_LocationView" model="location" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade admin-modal" id="AddLocationLockerModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered locker-add-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLongTitle">Add Location</h5>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="row justify-content-center d-flex fields">
                        <div class="col-lg-4"><label for="Locker Unit Number">Locker Location</label></div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control location-name" placeholder="Location">
                        </div>
                    </div>
                    <div class="row justify-content-center d-flex fields">
                        <div class="col-lg-4"><label for="Locker Unit Number">Locker Division</label></div>
                        <div class="col-lg-6">
                            <div class="quantity-field">
                                <button class="value-button decrease-button" onclick="decreaseValue(this)" title="Azalt"> - </button>
                                <div class="number division-number">1</div>
                                <button class="value-button increase-button" onclick="increaseValue(this, 5)" title="Arrtır"> + </button>
                            </div>
                            <div class="note">
                                <p>*  Maximum 5 divisions per location</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="fnCreateNewLocation()">Create</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Admin.js"></script>

 <script>
    $(document).ready(function () {
        $(".location-search").on("keyup", function () {
            debugger;
            var value = $(this).val().toLowerCase();
            $(".grid.location-list .location").filter(function () {
                debugger;
                var isPresent = $(this).attr("data-value").toLowerCase().indexOf(value) > -1;
                $(this).toggle(isPresent);
            });
        });
    });
 </script>