@using ICSLockers.Models


<div class="container-fluid main lockers">
    <div class="admin title-bar d-flex">
        <div class="col-lg-6 p-0 d-flex align-items-center">
            <nav aria-label="breadcrumb bg-white">
                <ol class="breadcrumb bg-white m-0">
                    <li class="breadcrumb-item">
                        <a href="LockerUnits">
                            <h5>Locate User Locker</h5>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Locker Units</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 d-flex justify-content-end">
            <buttton type="button" class="btn btn-outline-primary add-locker" data-toggle="modal"
                     data-target="#exampleModalCenter">Update Lockers</buttton>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="passcode d-flex align-items-center text-center">

            <div class="col-lg-12 p-0">
                <div class="grid">
                    <div class="locker available">
                        <div class="d-flex align-items-center locker-detail">
                            <div class="count">1</div>
                            <div class="user-name">available</div>
                        </div>
                        <div class="locker-condition flex-column d-flex align-items-center">
                            <img src="../images/png/available.png" alt="" class="success">
                            <img src="../images/png/not-available.png" alt="" class="danger">
                            <span>Locker Available</span>
                        </div>
                    </div>
                    <div class="locker not-available">
                        <div class="d-flex align-items-center locker-detail">
                            <div class="count">2</div>
                            <div class="user-name">Stephen Edwards</div>
                        </div>
                        <div class="locker-condition flex-column d-flex align-items-center">
                            <img src="../images/png/available.png" alt="" class="success">
                            <img src="../images/png/not-available.png" alt="" class="danger">
                            <span>Locker in use</span>
                        </div>
                    </div>
                    <div class="locker not-available">
                        <div class="d-flex align-items-center locker-detail">
                            <div class="count">3</div>
                            <div class="user-name">Stephen Edwards</div>
                        </div>
                        <div class="locker-condition flex-column d-flex align-items-center">
                            <img src="../images/png/available.png" alt="" class="success">
                            <img src="../images/png/not-available.png" alt="" class="danger">
                            <span>Locker in use</span>
                        </div>
                    </div>
                    <div class="locker not-available">
                        <div class="d-flex align-items-center locker-detail">
                            <div class="count">4</div>
                            <div class="user-name">Stephen Edwards</div>
                        </div>
                        <div class="locker-condition flex-column d-flex align-items-center">
                            <img src="../images/png/available.png" alt="" class="success">
                            <img src="../images/png/not-available.png" alt="" class="danger">
                            <span>Locker in use</span>
                        </div>
                    </div>
                    <div class="locker available">
                        <div class="d-flex align-items-center locker-detail">
                            <div class="count">5</div>
                            <div class="user-name">Available</div>
                        </div>
                        <div class="locker-condition flex-column d-flex align-items-center">
                            <img src="../images/png/available.png" alt="" class="success">
                            <img src="../images/png/not-available.png" alt="" class="danger">
                            <span>Locker Available</span>
                        </div>
                    </div>
                    <div class="locker available">
                        <div class="d-flex align-items-center locker-detail">
                            <div class="count">6</div>
                            <div class="user-name">Available</div>
                        </div>
                        <div class="locker-condition flex-column d-flex align-items-center">
                            <img src="../images/png/available.png" alt="" class="success">
                            <img src="../images/png/not-available.png" alt="" class="danger">
                            <span>Locker Available</span>
                        </div>
                    </div>
                    <div class="locker available">
                        <div class="d-flex align-items-center locker-detail">
                            <div class="count">7</div>
                            <div class="user-name">Available</div>
                        </div>
                        <div class="locker-condition flex-column d-flex align-items-center">    
                            <img src="../images/png/available.png" alt="" class="success">
                            <img src="../images/png/not-available.png" alt="" class="danger">
                            <span>Locker Available</span>
                        </div>
                    </div>
                    <div class="locker available">
                        <div class="d-flex align-items-center locker-detail">
                            <div class="count">8</div>
                            <div class="user-name">Available</div>
                        </div>
                        <div class="locker-condition flex-column d-flex align-items-center">
                            <img src="../images/png/available.png" alt="" class="success">
                            <img src="../images/png/not-available.png" alt="" class="danger">
                            <span>Locker Available</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade admin-modal" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered locker-add-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLongTitle">Add Locker unit</h5>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="row justify-content-center d-flex">
                        <div class="col-lg-4"><label for="Locker Unit Number">Locker Unit Number</label></div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control locker-unit" value="125" disabled>
                        </div>
                    </div>
                    <div class="row justify-content-center d-flex">
                        <div class="col-lg-4"><label for="Locker Unit Number">Locker Count</label></div>
                        <div class="col-lg-6">
                            <div class="quantity-field">
                                <button class="value-button decrease-button" onclick="decreaseValue(this)"
                                        title="Azalt">
                                    -
                                </button>
                                <div class="number">1</div>
                                <button class="value-button increase-button" onclick="increaseValue(this, 9)"
                                        title="Arrtır">
                                    +
                                </button>
                            </div>
                            <div class="note">
                                <p>* Maximum 9 Lockers per Unit</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center border-0">
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

 <script src="~/js/Admin.js"></script>