@model List<LockerUnitModel>
@using ICSLockers.Models

@{
    ViewData["Title"] = "LockerUnits";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid main lockers p-0">
    <div class="admin title-bar d-flex">
        <div class="col-lg-6 p-0 d-flex align-items-center">
            <nav aria-label="breadcrumb bg-white">
                <ol class="breadcrumb bg-white p-0 m-0">
                    <li class="breadcrumb-item">
                        <a href="/Admin/Location d-flex">
                            <h5>Location</h5>
                        </a>
                    </li>
                    <li class="breadcrumb-item d-flex">
                        <a href="/Admin/Division?locationId=1">
                            <h5>Divisions</h5>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Locker Units</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="passcode d-flex align-items-center text-center">
            <div class="col-lg-12 p-0">
                <div class="col-lg-12 p-0 d-flex justify-content-end position-relative mb-4">
                    <div class="col-lg-6 p-0 d-flex justify-content-start align-items-center position-relative">
                        <label class="form-label d-flex align-items-center  m-0">Filter</label>
                        <select class="form-control col-lg-4 location-name filter ml-2">
                            <option>All</option>
                            <option>Available lockers</option>
                            <option>Not-available lockers</option>
                        </select>
                    </div>
                    <div class="col-lg-6 p-0 d-flex justify-content-end position-relative">
                        <input type="search" class="form-control location-search" placeholder="Search" />
                        <img src="~/images/png/search.png" class="search-btn" alt="search">
                    </div>
                </div>
                <div class="grid">
                    @foreach(LockerUnitModel lockerUnit in Model)
                    {
                        <partial name="_Units" model="lockerUnit" />
                    }                                                        
                </div>
            </div>
        </div>
    </div>
</div>
    
<!-- Modal -->
<div class="modal fade admin-modal" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered locker-add-modal" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLongTitle">Add Locker unit</h5>
            </div>*@
            <div class="modal-body">
                <div class="col-lg-12">
                    @*<div class="row justify-content-center d-flex">
                        <div class="col-lg-4"><label for="Locker Unit Number">Locker Number</label></div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control locker-unit" value="125" disabled>
                        </div>
                    </div>*@
                    <div class="row justify-content-center d-flex">
                        <div class="col-lg-4"><label for="Locker Unit Number">Locker Count</label></div>
                        <div class="col-lg-6">
                            <div class="quantity-field">
                                <button class="value-button decrease-button" onclick="decreaseValue(this)"
                                        title="Azalt">
                                    -
                                </button>
                                <div class="number Locker-count">1</div>
                                <button class="value-button increase-button" onclick="increaseValue(this, 10)"
                                        title="Arrtır">
                                    +
                                </button>
                            </div>
                            <div class="note">
                                <p>* Maximum 100 Lockers per Division</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center border-0">
                <button type="button" class="btn btn-primary" onclick="fnUpdatelocker()">Create</button>
            </div>
        </div>
    </div>
</div>
<!--Model End-->
<script src="~/js/Admin.js"></script>

