@model List<LockerUnitModel>
@using ICSLockers.Models

@{
    ViewData["Title"] = "LockerUnits";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid main lockers">
    <div class="admin title-bar d-flex">
        <div class="col-lg-1 p-0 d-flex align-items-center p-0">
            <a href="/Admin/Location">
                <h5>Location</h5>
            </a>
        </div>
        <div class="col-lg-1 p-0 d-flex align-items-center p-0">
            <a href="/Admin/Division?locationId=1">
                <h5>Division</h5>
            </a>
        </div>
        <div class="col-lg-5 p-0 d-flex align-items-center p-0">
            <h5>Locker Units</h5>
        </div>
        <div class="col-lg-5 d-flex justify-content-end">
            <buttton type="button" class="btn btn-outline-primary add-locker" data-toggle="modal"
                     data-target="#exampleModalCenter">Update Lockers</buttton>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="passcode d-flex align-items-center text-center">

            <div class="col-lg-12 p-0">
                <div class="grid">
                   
                    @foreach(LockerUnitModel lockerUnit in Model)
                    {
                        <partial name="_Units" model="lockerUnit" />
                    }
                    <div class="locker not-available">
                        <div class="d-flex align-items-center locker-detail">
                            <div class="count">2</div>
                            <div class="user-name">Stephen Edwards</div>
                        </div>
                        <div class="locker-condition flex-column d-flex align-items-center">
                            <img src="~/images/png/available.png" alt="" class="success">
                            <img src="~/images/png/not-available.png" alt="" class="danger">
                            <span>Locker in use</span>
                        </div>
                    </div>                                      
                </div>
            </div>
        </div>
    </div>
</div>
    
<!-- Modal -->
<div class="modal fade admin-modal" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered locker-add-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLongTitle">Add Locker unit</h5>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="row justify-content-center d-flex">
                        <div class="col-lg-4"><label for="Locker Unit Number">Locker Unit Number</label></div>
                        <div class="col-lg-6">
                            <input type="number" class="form-control locker-unit" value="125" disabled>
                        </div>
                    </div>
                    <div class="row justify-content-center d-flex">
                        <div class="col-lg-4"><label for="Locker Unit Number">Locker Count</label></div>
                        <div class="col-lg-6">
                            <div class="quantity-field">
                                <button class="value-button decrease-button" onclick="decreaseValue(this)"
                                        title="Azalt">
                                    -
                                </button>
                                <div class="number">1</div>
                                <button class="value-button increase-button" onclick="increaseValue(this, 9)"
                                        title="Arrtır">
                                    +
                                </button>
                            </div>
                            <div class="note">
                                <p>* Maximum 9 Lockers per Unit</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center border-0">
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>
<!--Model End-->
<script src="~/js/Acount.js"></script>

