* {
    font-family: "azo sans", sans-serif;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 80%;
}

.buttons-excel {
    left: 10%;
    background-color: aqua;
}

.buttons-csv {
    left: 10%;
    background-color: aqua;
}

td,
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

.landing-page {
    background: url("../images/png/bg.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

    .landing-page .h2,
    .menu-landing .h2 {
        font-size: 36px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        background: -webkit-linear-gradient(-86deg, rgba(0, 77, 252, 0.2), rgba(0, 77, 252, 0.2), rgba(0, 77, 252, 0.2));
        -webkit-background-clip: text;
        -webkit-text-stroke: 4px transparent;
        color: #fff;
        padding-top: 20px;
        word-spacing: 5px;
        letter-spacing: 2px;
    }

    .landing-page .container {
        position: relative;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .landing-page .content {
        position: relative;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-left: 65px;
    }

    .landing-page .get-started {
        width: 320px;
        height: 64px;
        text-align: center;
        background: #F2302D;
        border: 4px solid #D12B28;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
        border-radius: 32px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF !important;
        padding: 17px;
    }

.menu-landing {
    background: url("../images/png/bg-2.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

    .menu-landing > .container-fluid {

        height: 100vh;
    }

    .menu-landing .heading-col {
        display: flex;
        height: calc(100vh - 155px);
        align-items: end;
    }

.menus {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

    .menus .row {
        width: 75%;
        height: 100%;
        padding-top: 50px;
    }

.menu-item {
    width: 200px;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, #F2FAFF 0%, #FFECEC 100%);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    border-radius: 45px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    padding: 15px 30px;
    text-align: center;
}

    .menu-item.card::before {
        content: "";
        width: 293px;
        height: 173px;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.4);
        left: -96px;
        top: -70px;
        z-index: 0;
        border-radius: 50%;
    }

    .menu-item img {
        z-index: 10;
        position: relative;
    }

    .menu-item h5 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        color: #2B4889;
    }

        .menu-item h5:hover {
            text-decoration: none;
        }

.menus .menu-items:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menus .menu-items:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menus .menu-item img {
    width: 80px;
    height: 80px;
}

a {
    text-decoration: none;
}

.locker-bg {
    background: linear-gradient(180deg, #72BDF5 0%, #004DFC 100%);
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.header {
    background-color: #fff;
    height: 120px;
    border-radius: 30px 30px 0px 0px;
    margin-bottom: 20px;
}

    .header .logo img {
        width: 120px;
        height: 120px;
    }

    .header .logo {
        box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.05);
    }

.user-profile {
    width: auto;
    padding-left: 0;
}

    .user-profile img {
        width: 32px;
        height: 32px;
    }

.menu-landing > .container-fluid {
    height: 100vh;
}
.user-menu {
    display: flex;
    align-items: center;
}

    .user-menu > .row {
        justify-content: space-between;
        padding: 0 20px;
    }

    .user-menu .active {
        background: #2B4889;
        border-radius: 15px;
    }

    .user-menu a:hover {
        text-decoration: none;
    }

    .user-menu a::after {
        content: '';
        width: 1px;
        height: 100%;
        background-color: #000000;
        opacity: 0.15;
        position: absolute;
        right: -15px;
        top: 0;
    }

    .user-menu a:last-child::after {
        content: none;
    }

    .user-menu .active h5 {
        color: #fff;
    }

    .user-menu img {
        width: 32px;
        max-width: 32px;
        height: 32px;
        padding: 0;
    }

    .user-menu a .svg.white,
    .user-menu a.active .svg {
        display: none;
    }

        .user-menu a.active .svg.white,
        .user-menu a .svg {
            display: block;
        }

    .user-menu h5 {
        text-align: left;
        padding-left: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #2B4889;
        margin: 0;
    }

    .user-menu .col-lg-2 .row,
    .user-menu .col-lg-3 .row {
        padding: 15px;
        align-items: center;
        justify-content: center;
    }

    .user-menu .col-lg-3 {
        flex: 0 0 20%;
    }

    .user-menu a {
        text-decoration: none;
    }

.circle {
    width: 40px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 8px;
    border-radius: 50%;
}

.profile h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #555555;
    width: 72%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile {
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.05);
    position: relative;
}

    .profile > .row {
        padding: 15px;
        position: relative;
    }

        .profile > .row::after {
            content: '';
            width: 16px;
            height: 16px;
            border-top-width: 0;
            border-right-width: 0;
            border-bottom-width: 3px;
            border-left-width: 3px;
            border-color: #BFBFBF;
            border-style: solid;
            transform: rotate(-46deg);
            position: absolute;
            right: 30px;
            top: 27px;
        }

.main {
    background-color: #fff;
    float: left;
    width: 100%;
    padding: 0;
    height: calc(100vh - 181px);
    overflow: hidden;
}

.title-bar {
    float: left;
    width: 100%;
    padding: 27px 20px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}

    .title-bar h5 {
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        color: #2B4889;
        margin: 0;
       
        position: relative;
    }
    .title-bar .breadcrumb-item:first-child h5{
        padding-left: 20px;
    }

        .title-bar .breadcrumb-item:first-child h5::before {
            content: '';
            width: 3px;
            height: 100%;
            background: #D9D9D9;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }

.content-wrapper {
    float: left;
    width: 100%;
    overflow-y: scroll;
    height: calc(100vh - 270px);
}

.content-wrapper {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

    .content-wrapper::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }

.login-card {
    max-width: 520px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.025);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 40px;
    margin-bottom: 30px;
}

.passcode {
    flex-direction: column;
}

.content-wrapper {
    padding: 60px;
}

.passcode .main-heading {
    margin-bottom: 30px;
}

    .passcode .main-heading h5 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #555555;
        margin-bottom: 15px;
    }

    .passcode .main-heading p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #004DFC;
        margin: 0;
    }

.passcode .login-card h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2B4889;
    margin-bottom: 34px;
}

.passcode .login-card .form-control.user-passcode,
.passcode .login-card .form-control.user-email {
    background: #FAFDFF;
    border: 2px solid rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    height: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: rgba(0, 0, 0, 0.25);
    padding: 13px 0;
    overflow: hidden;
    margin-bottom: 40px;
    -webkit-inner-spin-button
}

.passcode .login-card .login {
    background: #F2302D;
    border: 4px solid #D12B28;
    box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    padding: 28px;
}

.passcode .note p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
}

.user-details .detail-card {
    max-width: 680px;
    width: 100%;
    background: rgba(0, 0, 0, 0.025);
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 42px 60px;
    margin-bottom: 30px;
}

    .user-details .detail-card .row {
        margin-bottom: 40px;
    }

    .user-details .detail-card label {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #555555;
        margin-bottom: 19px;
    }

    .user-details .detail-card h6 {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #2B4889;
        margin-bottom: 19px;
    }

    .user-details .detail-card .items h6 {
        margin-bottom: 10px;
    }

    .user-details .detail-card .details .row {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;
    }

        .user-details .detail-card .details .row:last-child {
            border-bottom: none;
            margin-bottom: 40px;
        }

    .user-details .detail-card .l-units {
        display: flex;
        justify-content: center;
    }

        .user-details .detail-card .l-units .btn {
            max-width: 440px;
            width: 100%;
            height: 90px;
            background: #F2302D;
            border: 4px solid #D12B28;
            box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.1);
            border-radius: 45px;
            padding: 28px 71px;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }

.confirmation .login-card {
    max-width: 680px;
    width: 100%;
    background: rgba(0, 0, 0, 0.025);
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 50px 100px;
}

    .confirmation .login-card h6 {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #555555;
        margin-bottom: 20px;
    }

    .confirmation .login-card h5 {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #2B4889;
        margin-bottom: 90px;
    }

    .confirmation .login-card .continue {
        margin-bottom: 40px;
        max-width: 440px;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .confirmation .login-card .not-continue {
        max-width: 440px;
        width: 100%;
        height: 90px;
        background: #757575;
        border: 4px solid rgba(0, 0, 0, 0.15);
        box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.1);
        border-radius: 45px;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

/* Locker Unit */
.locker-unit .grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 25px;
    grid-row-gap: 20px;
}

.locker-unit .btn h6,
.locker-unit .btn {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

    .locker-unit .btn.available {
        background: linear-gradient(180deg, #69E772 0%, #68D270 100%);
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        padding:5px 20px;
        max-width: 125px;
    }

    .locker-unit .btn.not-available {
        background: linear-gradient(180deg, #FC7C7C 0%, #F2302D 100%);
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        padding: 15px;
        max-width: 125px;
    }

.locker-unit .content-wrapper {
    /*    padding: 60px 40px;*/
    padding-bottom: 0;
}

.unit-count {
    padding: 20px 20px 0 20px;
}

.unit .location-detail {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

    .unit .location-detail h6 {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #D12B28;
    }

        .unit .location-detail h6 span {
            color: #FC7C7C;
        }

.unit .location-btn {
    padding: 10px;
   /* padding-top: 0px;
    padding-bottom: 8px;*/
}

.locker-unit .btn .lockers {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.locker-unit .unit-count h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    color: #2B4889;
}

.locker-unit .unit-count h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    color: #2B4889;
    border: 2px solid #2B4889;
    border-radius: 10px;
    padding: 10px 15px 5px 15px;
}

.locker-unit .unit {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.025);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}


/* Lockers */
.lockers .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
}

.lockers .locker.not-available {
    background: #FFFFFF;
    border: 1px solid rgba(252, 124, 124, 0.5);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.lockers .content-wrapper {
    padding: 60px 50px;
}

.lockers .locker.not-available .count {
    border: 2px solid #FC7C7C;
    color: #FC7C7C;
}

.lockers .locker .user-name {
    margin-left: 26px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
}

.lockers .locker.not-available .user-name {
    color: #FC7C7C;
}

.lockers .locker-detail {
    padding: 15px 10px;
    border: 2px solid rgba(0, 0, 0, 0.025);
}

.lockers .locker-condition {
    padding: 20px;
}

.lockers .locker.not-available .locker-condition img {
    width: 36px;
    height: 36px;
    margin-bottom: 15px;
}

.lockers .locker.not-available .locker-condition span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.lockers .locker.not-available .locker-condition span {
    color: #D12B28;
}


/*  */
.lockers .locker.available {
    background: #FFFFFF;
    border: 1px solid #68D270;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    overflow: hidden;
}

.lockers .locker .count {
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    background: #FFFFFF;
    padding: 15px 15px;
    padding-bottom: 5px;
}

.lockers .locker.available .count {
    border: 2px solid #68D270;
    color: #69E772;
}

.lockers .locker.available .user-name {
    color: #69E772;
}


.lockers .locker.available .locker-condition img {
    width: 36px;
    height: 36px;
    margin-bottom: 10px;
}

.lockers .locker .locker-condition img {
    display: none;
}

.lockers .locker.not-available .locker-condition img.danger {
    display: block;
}

.lockers .locker.available .locker-condition img.success {
    display: block;
}

.lockers .locker.available .locker-condition span {
    color: #79D680;
}



/*  Create User */

.create-user .create-user-form {
    max-width: 1047px;
    width: 100%;
    padding: 50px 174px;
}

    .create-user .create-user-form .d-flex {
        margin-bottom: 30px;
    }

    .create-user .create-user-form h5 {
        text-align: left;
    }

    .create-user .create-user-form input {
        background: #FFFFFF;
        border: 2px solid rgba(0, 0, 0, 0.05);
        box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        height: 50px;
        max-width: 440px;
        width: 100%;
        padding-left: 25px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.25) !important;
        overflow: hidden;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.create-user .create-user-form input.disabled {
    background: #EFEFEF;
    opacity: 0.4;
}

.create-user .create-user-form .submit {
    width: 100%;
    max-width: 440px;
    height: 90px;
    background: #F2302D;
    border: 4px solid #D12B28;
    box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


/*Custom css*/

.form-error #error {
    display: block;
    color: red;
    text-align: center;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
}

#error {
    display: none;
}

.form-error .form-control {
    border: solid 2px red !important;
}


/* Confirmation */
.confirmation .login-card {
    max-width: 680px;
    width: 100%;
    background: rgba(0, 0, 0, 0.025);
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 50px 60px;
}

    .confirmation .login-card h6 {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #555555;
        margin-bottom: 20px;
    }

    .confirmation .login-card h5 {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #2B4889;
        margin-bottom: 60px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        padding-block-end: 30px;
    }

    .confirmation .login-card .continue {
        margin-bottom: 40px;
        max-width: 440px;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .confirmation .login-card .not-continue {
        max-width: 440px;
        width: 100%;
        height: 90px;
        background: #757575;
        border: 4px solid rgba(0, 0, 0, 0.15);
        box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.1);
        border-radius: 45px;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

/* user-details */
.user-details .detail-card {
    max-width: 680px;
    width: 100%;
    background: rgba(0, 0, 0, 0.025);
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 42px 60px;
    margin-bottom: 30px;
    position: relative;
}

    .user-details .detail-card:before {
        content: "";
        width: 50%;
        height: 100%;
        background: rgba(0, 0, 0, 0.025);
        border-radius: 0px 25px 25px 0px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .user-details .detail-card .row {
        margin-bottom: 40px;
    }

    .user-details .detail-card label {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #555555;
        margin-bottom: 19px;
    }

    .user-details .detail-card h6 {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #2B4889;
        margin-bottom: 19px;
    }

    .user-details .detail-card .items h6 {
        margin-bottom: 10px;
    }

    .user-details .detail-card .details .row {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;
    }

        .user-details .detail-card .details .row:last-child {
            border-bottom: none;
            margin-bottom: 40px;
        }

    .user-details .detail-card .l-units {
        display: flex;
        justify-content: center;
    }

        .user-details .detail-card .l-units .btn {
            max-width: 440px;
            width: 100%;
            height: 90px;
            background: #F2302D;
            border: 4px solid #D12B28;
            box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.1);
            border-radius: 45px;
            padding: 28px 71px;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }


/* Admin page */
.admin .title-bar,
.admin.title-bar {
    padding: 18px 20px;
}

.admin .add-locker,
.admin .update-locker:hover {
    border: 2px solid #2B4889;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #2B4889;
    background-color: #fff;
    padding: 5px 30px !important;
    padding-bottom: 5px !important;
    border-radius: 10px;
}

    .admin .update-locker,
    .admin .add-locker:hover {
        border: 2px solid #2B4889;
        border-radius: 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        background: #2B4889;
        padding: 5px 30px !important;
        padding-bottom: 5px !important;
        border-radius: 10px;
    }

.update-locker {
    margin-left: 25px;
}

.locker-add-modal {
    max-width: 840px !important;
    width: 100%;
}

    .locker-add-modal .modal-content {
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.025);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        height: fit-content;
    }

    .locker-add-modal .modal-header {
        padding-bottom: 25px;
        padding-top: 45px;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input.locker-unit, input.location-name, select.location-name {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.25);
    opacity: 0.5 !important;
    padding: 12px 30px 6px 30px;
    text-align: center;
}
select.location-name {
    background: #fff;
    height: 50px !important;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    padding-left: 50px;
    background-position-x: 340px;
}
.fields{
    margin-bottom: 30px;
}
input.location-search {
    border: 2px solid rgba(85, 85, 85, 0.15);
    border-radius: 5px;
    width: 292px;
    height: 40px;
    padding-right: 40px;
}
    input.location-search::placeholder {
        color: rgba(0, 0, 0, 0.5);
        font-size: 18px;
        line-height: 22px;
    }
.search-btn {
    position: absolute;
    right: 10px;
    top: 8px;
    background: #fff0;
    border: none;
}
.quantity-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    position: relative;
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

    .quantity-field .value-button {
        border: none;
        margin: 0px;
        width: 40px;
        height: 100%;
        padding: 0;
        background: #eee;
        outline: none;
        cursor: pointer;
        font-size: 30px;
        font-weight: 500;
        color: #757575;
        line-height: 52px;
    }

        .quantity-field .value-button:hover {
            background: rgb(230, 230, 230);
        }

        .quantity-field .value-button:active {
            background: rgb(210, 210, 210);
        }

    .quantity-field .decrease-button {
        margin-right: -0;
        border-radius: 8px 0 0 8px;
        position: absolute;
        left: 0;
        background: rgba(230, 230, 230, 0.5);
        border-radius: 25px 0px 0px 25px;
    }

    .quantity-field .increase-button {
        margin-left: -4px;
        border-radius: 0 8px 8px 0;
        position: absolute;
        right: 0;
        background: rgba(230, 230, 230, 0.5);
        border-radius: 0px 25px 25px 0px;
    }

    .quantity-field .number {
        display: flex;
        text-align: center;
        border: none;
        margin: 0px;
        width: 40px;
        height: 100%;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.25);
        padding-top: 7px;
    }

.admin-modal .note p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: #000000;
    opacity: 0.5;
    margin-top: 20px;
}

.quantity-field .number::selection {
    background: none;
}

.admin-modal .modal-header h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #555555;
}

.admin-modal .btn {
    max-width: 440px;
    width: 100%;
    height: 90px;
    background: #F2302D;
    border: 4px solid #D12B28;
    box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    padding: 28px 71px;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

    .admin-modal .btn:hover {
        border: 4px solid #D12B28;
        background: #fff;
        color: #F2302D;
    }

.admin-modal label {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    color: #2B4889;
    margin: 0;
}

.admin-modal .modal-body {
    padding-top: 40px;
}

.admin-modal .modal-content {
    padding-bottom: 40px;
}



/* admin employee */
.emp-table {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.staff-create,
.staff-create:hover {
    padding: 12px 30px;
    display: flex;
    align-items: center;
}

.emp-table tr td:first-child {
    padding-left: 15px !important;
    max-width: 100px;
}

.emp-table th,
.emp-table td {
    text-align: left;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.emp-table th {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    color: #555555;
    padding: 17px 18px !important;
}

.emp-table td {
    font-weight: 400 !important;
    font-size: 20px;
    line-height: 45px;
    color: #2B4889;
    padding: 0 18px !important;
}

.emp-table th {
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.table-striped.emp-table tbody tr:nth-of-type(2n+1) {
    background-color: #fafafa;
}

.employee-table .dataTables_paginate .previous,
.employee-table .dataTables_paginate .next,
.employee-table .dataTables_paginate .paginate_button {
    width: 40px;
    height: 40px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    background: #FFFFFF !important;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.employee-table .dataTables_paginate,
.employee-table .dataTables_paginate span {
    display: flex;
    grid-column-gap: 5px;
}

.employee-table .dataTables_paginate {
    padding-top: 30px !important;
}

.employee-table .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #757575 !important;
}

    .employee-table .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        border: 2px solid #005cf8;
        color: #005cf8;
    }

.employee-table .dataTables_paginate .paginate_button.current :hover {
    color: #fff !important;
}

.employee-table .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #005cf8 !important;
    color: #fff !important;
    border-color: #005cf8 !important;
    fill: #fff;
}

.employee-table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    opacity: 0.5;
}

    .employee-table .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
        opacity: 0.5;
        color: #fff;
    }

.employee-table .dataTables_wrapper .dataTables_scrollBody {
    border: none !important;
}

.employee-table input.search {
    border: 2px solid rgba(0, 0, 0, 0.05) !important;
    padding: 5px;
    border-radius: 5px;
}

.employee-table label {
    font-size: 20px;
    line-height: 24px;
    color: #555555;
}

/* admin dashboard  starts*/
.dashboard-icon {
    width: 80px;
    height: 80px;
}

.dashboard .content-wrapper {
    padding: 20px 40px;
}

.dashboard .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin-bottom: 20px;
}

.dashboard .locker-unit {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.025);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 30px 25px;
    padding-bottom: 15px;
}

    .dashboard .locker-unit h5 {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        color: #D12B28;
        margin-bottom: 27px;
        text-align: left;
    }

    .dashboard .locker-unit h1 {
        font-weight: 500;
        font-size: 64px;
        line-height: 60px;
        color: #2B4889;
        text-align: left;
    }

/* chart */
canvas {
    border-radius: 150px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.target {
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 50px;
}

#tierPointsValue {
    line-height: 150;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.target-chart {
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 0 35px white;
    position: relative;
    margin: auto;
}

.target-percentage {
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #555555;
}

.points-random {
    margin-top: -150px;
    font-size: 14px;
    font-weight: 200;
}

/* -chart- */
.donut-chart {
    max-width: 700px;
    max-height: 516px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.025);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 25px;
    margin-right: 15px;
}

    .donut-chart .chart {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        float: left;
        width: 100%;
    }

    .donut-chart .target-data span {
        width: 20px;
        height: 20px;
        display: inline-block;
        background: #D9D9D9;
        border-radius: 5px;
        margin-right: 10px;
    }

    .donut-chart .target-data h5 {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        display: flex;
        align-items: center;
    }

        .donut-chart .target-data h5:nth-child(2) span {
            background: #2B4889;
        }

    .donut-chart .chart-title {
        font-weight: 700;
        font-size: 21px;
        line-height: 25px;
        color: #2B4889;
        text-align: left;
    }

.user-table {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.025);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    padding: 25px;
    width: 100%;
}

    .user-table .table-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #2B4889;
        text-align: left;
        margin-bottom: 15px;
    }

    .user-table .tab .nav-item .nav-link {
        background-color: transparent;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #808080;
        border: none;
        cursor: pointer
    }

        .user-table .tab .nav-item .nav-link.active {
            color: #2B4889;
        }

            .user-table .tab .nav-item .nav-link.active:focus {
                border: none;
                outline: none;
            }

    .user-table .tab .nav-pills {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        grid-column-gap: 50px;
    }

.dashboard .emp-table {
    box-shadow: none;
}

    .dashboard .emp-table th {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        background: #2B4889;
        padding: 10px 15px !important;
    }

    .dashboard .emp-table td {
        font-weight: 400;
        font-size: 16px;
        line-height: 36px;
        color: #2B4889;
    }

.dashboard .dataTables_filter {
    margin-bottom: 10px;
}

    .dashboard .dataTables_filter .search {
        font-size: 14px;
        line-height: 10px;
    }

    .dashboard .dataTables_filter label {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.5);
    }

.user-table .employee-table {
    position: relative;
}

.user-table .add-user {
    position: absolute;
    right: 30%;
    width: 130px;
    height: 30px;
    background: #2B4889;
    border: 1px solid #2B4889;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    z-index: 999;
}
    .user-table .add-user:hover {
        border: 1px solid #2B4889;
        background: #fff;
        color: #2B4889;
    }
.locker-admin-panel {
    height: 100%;
}

    .locker-admin-panel .content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* admin dashboard  ends*/
.admin-modal input.locker-unit {
    background: #fff;
    opacity: 1;
}

.locker-unit .btn.available:active {
    background: linear-gradient(180deg, #68D270 0%, #69E772 100%) !important;
}

.passcode .login-card .form-control.user-email {
    font-size: 40px !important;
    padding: 15px 20px;
}

.admin-modal .modal-footer {
    justify-content: center;
    border: none;
}

.create-user.create-user input {
    margin-left: 20px;
}

/* Unit Location */
.locker-location .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
}

.locker-location .location {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 25px 20px;
}

.location .location-count h6 {
    font-weight: 700;
    font-size: 36px;
    line-height: 33px;
    text-align: center;
    border: 2px solid #FC7C7C;
    border-radius: 10px;
    color: #FC7C7C;
    padding: 15px 15px;
    padding-bottom: 10px;
}

.location .location-count h3 {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-left: 15px;
    color: #FC7C7C;
}

.location .location-img img {
    opacity: 0.3;
    width: 80px;
}

.location .location-count h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #D12B28;
}

.location .location-count span {
    color: #2B4889;
}

.content-wrapper.view-location {
    padding: 60px 20px;
}

.search-btn:focus, .location-search:focus{
    box-shadow: none;
}

.location .location-count{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-table .buttons-excel, .user-table .buttons-pdf {
    border: none !important;
    background: #fff !important;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1) !important;
    margin: 5px;
}
.user-table div.dt-buttons {
    float: left;
    display: flex;
    justify-content: space-between;
    grid-column-gap: 15px;
}
select.filter {
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    height: 40px !important;
    line-height: 20px;
    border: 2px solid rgba(85, 85, 85, 0.15);
    box-shadow: none;
    opacity: 1 !important;
}

/* profile */
.users-profile {
    width: 100%;
    max-width: 900px;
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.025);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    margin: 0 auto;
}

    .users-profile .user-name {
        margin-left: 25px;
    }

        .users-profile .user-name h5 {
            margin: 0;
            font-size: 24px;
            line-height: 29px;
            color: #555555;
        }

    .users-profile .profile-number {
        padding: 15px 12px 0px 12px;
        border: 2px solid #004DFC;
        border-radius: 20px;
    }

        .users-profile .profile-number h1 {
            font-size: 36px;
            line-height: 43px;
            color: #004DFC;
        }

    .users-profile .profile-header {
        border-bottom: 2px solid rgba(0, 0, 0, 0.025);
        padding: 20px 40px;
    }

    .users-profile .user-remove-btn {
        border: 1px solid #D12B28;
        border-radius: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #D12B28;
        padding: 7px 20px;
        cursor: pointer;
    }

        .users-profile .user-remove-btn:hover {
            color: #fff;
            background-color: #D12B28;
        }

    .users-profile .profile-body {
        padding: 25px;
        max-width: 550px;
        margin: 0 auto;
        width: 100%;
    }

        .users-profile .profile-body label {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #555555;
            margin-bottom: 20px;
        }

        .users-profile .profile-body h5 {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #2B4889;
            text-align: left;
        }

    .users-profile .profile-footer {
        border-top: 2px solid rgba(0, 0, 0, 0.025);
        padding: 20px 40px;
    }

        .users-profile .profile-footer .btn {
            border-radius: 30px;
            padding: 5px 45px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;

        }

        .users-profile .profile-footer .add-item {
            background: linear-gradient(180deg, #69E772 0%, #68D270 100%);
            border: 2px solid #68D270;
        }

            .users-profile .profile-footer .add-item:active {
                background: linear-gradient(180deg, #68D270 0%, #69E772 100%);
            }

        .users-profile .profile-footer .remove-item {
            background: linear-gradient(180deg, #FC7C7C 0%, #F2302D 100%);
            border: 2px solid #F2302D;
        }

            .users-profile .profile-footer .remove-item:active {
                background: linear-gradient(180deg, #F2302D 0%, #FC7C7C 100%);
            }

        .users-profile .profile-footer .lock-locker {
            background: linear-gradient(180deg, #587AC7 0%, #2B4889 100%);
            border: 2px solid #2B4889;
        }

            .users-profile .profile-footer .lock-locker:active {
                background: linear-gradient(180deg, #2B4889 0%, #587AC7 100%);
            }

.user-remove .modal-content {
    border-radius: 15px;
    max-width: 616px;
    width: 100%;
    margin: 0 auto;
}

.user-remove h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2B4889;
}

.user-remove .btn-outline-primary {
    border: 2px solid #2B4889;
    border-radius: 50px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2B4889;
    padding: 10px 80px;
}

    .user-remove .btn-outline-primary:hover {
        color: #fff;
        background-color: #2B4889;
    }

.user-remove .btn-outline-danger {
    background: #F2302D;
    border: 2px solid #D12B28;
    border-radius: 50px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 80px;
}

.users-profile .options {
    position: relative;
}

    .users-profile .options img {
        width: 25px;
        opacity: 0.5;
        cursor: pointer;
    }

    .users-profile .options .menus {
        display: none;
        position: absolute;
        right: 0;
        width: 170px;
    }

        .users-profile .options .menus ul li {
            list-style-type: none;
            float: left;
            width: 100%;
        }

            .users-profile .options .menus ul li a {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #2B4889;
                padding: 10px 10px;
                float: left;
                width: 100%;
                text-align: center;
            }

                .users-profile .options .menus ul li a:hover {
                    text-decoration: none;
                    background: rgba(217, 217, 217, 0.5);
                }

        .users-profile .options .menus ul {
            background-color: #fff;
            border: 2px solid rgba(0, 0, 0, 0.025);
            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            float: left;
            width: 100%;
            padding: 0;
        }

        .users-profile .options .menus.show {
            display: block;
        }

.user-report {
    max-width: 1700px !important;
}

.location-list .location {
    display: flex;
}

.access-denied,
.not-found {
    height: 100vh;
    display: flex;
    justify-content: center;
}

    .access-denied h1,
    .not-found h1 {
        font-size: 15rem;
        opacity: 0.5;
        font-weight: 700;
        color: #2B4889;
    }

    .access-denied img,
    .not-found img {
        margin: 0 auto;
        object-fit: contain;
        float: left;
        width: 100%;
    }

    .access-denied h2,
    .not-found h2 {
        font-size: 3rem;
        color: #2B4889;
        line-height: 50px;
        margin-bottom: 30px;
    }

    .access-denied p,
    .not-found p {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .access-denied .return-home,
    .not-found .return-home {
        font-size: 18px;
        font-weight: 500;
        padding: 15px 60px;
        background-color: #2B4889;
        color: #fff;
        border: none;
        border-radius: 100px;
        margin-top: 30px;
    }
/*------------User product----------*/
.user-product-add {
    display: flex;
}

    .user-product-add .users-profile.user-product {
        margin-left: 20px;
    }

    .user-product-add .locker-status {
        display: flex;
        align-items: center;
    }

        .user-product-add .locker-status h5 {
            margin: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #69E772;
        }

        .user-product-add .locker-status img {
            width: 40px;
            margin-left: 15px;
        }

    .user-product-add .users-profile.user-product .profile-header .user-name h5 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #004DFC !important;
    }

    .user-product-add .users-profile.user-product {
        background: #F5F5F5;
        border: 2px solid rgba(0, 0, 0, 0.025);
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
        border-radius: 25px;
    }

        .user-product-add .users-profile.user-product .profile-body {
            max-width: 100%;
            padding: 25px;
        }

            .user-product-add .users-profile.user-product .profile-body table {
                table-layout: fixed;
                background-color: #fff;
            }

                .user-product-add .users-profile.user-product .profile-body table th {
                    padding: 20px 20px;
                }

                .user-product-add .users-profile.user-product .profile-body table td {
                    padding: 5px 20px;
                }

                .user-product-add .users-profile.user-product .profile-body table thead,
                .user-product-add .users-profile.user-product .profile-body table tbody tr {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                }

                    .user-product-add .users-profile.user-product .profile-body table thead th {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        color: #555555;
                    }

                .user-product-add .users-profile.user-product .profile-body table tbody td {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 60px;
                    color: #2B4889;
                }

                    .user-product-add .users-profile.user-product .profile-body table tbody td h4 {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #000000;
                        opacity: 0.5;
                        margin: 0;
                        cursor: pointer;
                    }

                    .user-product-add .users-profile.user-product .profile-body table tbody td img {
                        width: 12px;
                        height: 12px;
                        margin-right: 15px;
                        cursor: pointer;
                    }

                    .user-product-add .users-profile.user-product .profile-body table tbody td a {
                        cursor: pointer;
                        text-decoration: none;
                    }

        .user-product-add .users-profile.user-product .profile-footer .remove-all {
            border: 2px solid #D12B28;
            border-radius: 30px;
            padding: 18px 30px;
            font-weight: 500;
            font-size: 20px;
            line-height: 18px;
            text-transform: uppercase;
            color: #D12B28;
        }

            .user-product-add .users-profile.user-product .profile-footer .remove-all:hover {
                background-color: #D12B28;
                color: #fff;
            }

        .user-product-add .users-profile.user-product .profile-footer .update-locker {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 18px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: linear-gradient(180deg, #69E772 0%, #68D270 100%);
            border: 2px solid #68D270;
            border-radius: 30px;
        }

            .user-product-add .users-profile.user-product .profile-footer .update-locker:hover {
                background: transparent;
                color: #68D270;
            }
   /* Nominee*/

.nominee h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 30px;
}

.nominee .nominee-form {
    margin: 0 auto;
    max-width: 1047px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.025);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 50px 120px
}

    .nominee .nominee-form input[type='text'] {
        background: #FFFFFF;
        border: 2px solid rgba(0, 0, 0, 0.05);
        box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        height: 50px;
        width: 100%;
        padding-left: 25px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.25);
    }

    .nominee .nominee-form h5 {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #2B4889;
        margin-bottom: 15px;
    }

    .nominee .nominee-form [type="radio"]:checked,
    .nominee .nominee-form [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        .nominee .nominee-form [type="radio"]:checked + label,
        .nominee .nominee-form [type="radio"]:not(:checked) + label {
            position: relative;
            padding: 10px 20px;
            cursor: pointer;
            line-height: 18px;
            display: inline-block;
            color: #666;
            z-index: 1;
            width: 100%;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
        }

            .nominee .nominee-form [type="radio"]:checked + label:before,
            .nominee .nominee-form [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border: 2px solid rgba(0, 0, 0, 0.1);
                border-radius: 50px;
                background: #ffffff00;
            }

            .nominee .nominee-form [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

        .nominee .nominee-form [type="radio"]:checked + label {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            color: #fff;
        }

            .nominee .nominee-form [type="radio"]:checked + label.patient:before,
            .nominee .nominee-form [type="radio"]:not(:checked) + label.patient:before {
                border-color: #FC7C7C;
            }

        .nominee .nominee-form [type="radio"]:not(:checked) + label.patient {
            color: #FC7C7C;
        }

        .nominee .nominee-form [type="radio"]:checked + label.patient {
            background-color: rgb(252, 124, 124, 0.8);
        }

        .nominee .nominee-form [type="radio"]:checked + label.nurse:before,
        .nominee .nominee-form [type="radio"]:not(:checked) + label.nurse:before {
            border-color: rgb(105, 231, 114);
        }

        .nominee .nominee-form [type="radio"]:not(:checked) + label.nurse {
            color: #69E772;
        }

        .nominee .nominee-form [type="radio"]:checked + label.nurse {
            background-color: rgb(105, 231, 114, 0.7);
        }

        .nominee .nominee-form [type="radio"]:checked + label.kin:before,
        .nominee .nominee-form [type="radio"]:not(:checked) + label.kin:before {
            border-color: rgba(0, 77, 252, 0.5);
        }

        .nominee .nominee-form [type="radio"]:not(:checked) + label.kin {
            color: rgba(0, 77, 252, 0.5);
        }

        .nominee .nominee-form [type="radio"]:checked + label.kin {
            background-color: #72BDF5;
        }


        .nominee .nominee-form [type="radio"]:checked + label.others:before,
        .nominee .nominee-form [type="radio"]:not(:checked) + label.others:before {
            border-color: rgba(0, 0, 0, 0.25);
        }

        .nominee .nominee-form [type="radio"]:not(:checked) + label.others {
            color: rgba(0, 0, 0, 0.25);
        }

        .nominee .nominee-form [type="radio"]:checked + label.others {
            color: rgba(0, 0, 0, 0.5);
        }

        .nominee .nominee-form [type="radio"]:checked + label.others {
            background-color: rgba(0, 0, 0, 0.05);
        }

    .nominee .nominee-form .other-relation {
        display: none !important;
    }

        .nominee .nominee-form .other-relation.show {
            display: flex !important;
        }

    .nominee .nominee-form .btn {
        max-width: 440px;
        width: 40%;
        height: 66px;
        background: #F2302D;
        border: 4px solid #D12B28;
        box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.1);
        border-radius: 45px;
        padding: 5px 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0px auto;
    }

.user-product-add .add-product {
    height: 100%;
    background-color: #fff;
    padding: 20px 15px;
}

.user-product-add .users-profile.user-product .profile-footer .update-locker {
    padding: 18px 35px;
}

.user-product-add .add-product label {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #2B4889;
}

.user-product-add .add-product input {
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.25);
    padding: 10px 30px;
}

.user-move .modal-content {
    border-radius: 15px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.user-move .select2-container--default .select2-selection--single {
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .user-move .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 11px 10px;
        font-weight: 400;
        font-size: 22px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.25);
    }

.user-move .select2-container--open .select2-dropdown--below {
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.05);
}

.user-move .select2-container--default .select2-selection--single .select2-selection__arrow {
    position: static;
}

.user-move .select2-container--default .select2-search--dropdown .select2-search__field {
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.20);
    font-weight: 400;
    font-size: 22px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.25);
}

.user-move .select2-container--default .select2-selection--single .select2-selection__arrow b {
    left: auto;
}

.user-move .inform {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
}

.user-move .modal-body {
    padding: 35px 15px;
}

.user-move .modal-footer .btn-primary {
    background: linear-gradient(180deg, #69E772 0%, #68D270 100%);
    border: 2px solid #68D270;
    border-radius: 15px;
    padding: 18px 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

    .user-move .modal-footer .btn-primary:active {
        background: linear-gradient(180deg, #68D270 0%, #69E772 100%);
    }

    .user-move .modal-footer .btn-primary:focus,
    .user-move .modal-footer .btn-primary:active {
        box-shadow: none !important;
    }
@media screen and (max-width: 1600px) {
    .location .location-count h5 {
        font-size: 14px;
    }

    .location .location-count h3 {
        font-size: 16px;
    }

    .location .location-count h6 {
        font-size: 28px;
        padding-bottom: 5px;
    }
}
