@media screen and (max-width: 1600px) {
    .landing-page .content {
        height: 600px;
        padding-left: 135px;
    }

    .login.content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 95px);
    }

    .heading-col h2 {
        padding-left: 45px;
        padding-bottom: 20px;
    }

    .menus .row {
        justify-content: center;
    }

    .menus .menu-item img {
        width: 50px;
        height: 50px;
    }

    .menu-item {
        width: 190px;
        height: 190px;
    }

    .menus .menu-items {
        align-items: center;
    }

    .passcode .login-card .form-control.user-passcode {
        height: 70px;
    }

    .passcode .login-card .login {
        padding: 15px;
    }

    .user-menu .col-lg-2 .row, .user-menu .col-lg-3 .row {
        padding: 15px 5px;
    }

    .content-wrapper, .lockers .content-wrapper {
        padding: 20px;
    }

    .login-card {
        max-width: 420px;
        padding: 30px 25px;
        margin-bottom: 20px;
    }

    .passcode .main-heading, .passcode .login-card h5 {
        margin-bottom: 10px;
    }
 
    .profile h5 {
        padding: 0;
        font-size: 18px;
        width: 76%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 10px !important;
    }

    .profile > .row::after {
        width: 13px;
        height: 13px;
        top: 20px;
        right: 6px;
    }

    .menu-landing .heading-col {
        height: calc(100vh - 40px);
    }

    .user-profile img {
        width: 30px;
    }

    .locker-unit .grid {
        display: grid;
        grid-template-columns: repeat(5, auto);
    }

    .passcode .login-card .form-control.user-passcode, .passcode .login-card .form-control.user-email {
        height: 64px;
        font-size: 32px;
    }
    .create-user .create-user-form .submit {
        height: auto;
        font-size: 22px;
        max-width: 300px;
    }
    .lockers .locker .user-name{
        margin-left: 10px;
        font-size: 20px;
    }
    .lockers .locker-condition {
        padding: 10px;
    }
    .lockers .locker .count {
        font-size: 24px;
        line-height: 35px;
        padding: 5px 15px;
        padding-bottom: 2px;
        border-radius: 12px;
    }
    .dashboard .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .create-user .create-user-form input{
        height: auto;
        font-size: 18px;
    }
    .passcode .login-card h5{
        font-size: 18px;
    }
    .admin .title-bar, .admin.title-bar {
        padding: 15px 20px;
    }
    .admin-modal .modal-body {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .admin-modal .btn {
        font-size: 20px;
        height: auto;
        max-width: 300px;
        padding: 10px 70px;
        border-width: 2px;
    }
    .admin-modal .fields{
        margin-bottom: 20px;
    }
    .passcode .login-card .form-control.user-email {
        font-size: 25px !important;
        padding: 15px 20px;
    }
    .passcode .login-card h5, .admin-modal label, input.locker-unit, input.location-name, select.location-name {
        font-size: 18px;
    }
    input.locker-unit, input.location-name, select.location-name {
        padding: 5px 30px 6px 30px;
    }
        
        .create-user .create-user-form input {
            font-size: 18px;
            height: 45px;
        }
    .main-heading h5{
        font-size: 22px;
    }
    .create-user .create-user-form {
        padding: 40px 100px;
        max-width: 890px;
        margin: 0 auto;
    }
    .admin-modal .btn:hover {
        border-width: 2px;
        padding: 10px 70px;
    }
    .dashboard .locker-unit h5 {
        font-size: 18px;
    }
    .dashboard .locker-unit h1 {
        font-size: 56px;
        line-height: 50px;
    }
    .locker-add-modal .modal-header {
        padding-bottom: 20px;
        padding-top: 25px;
    }
    .admin-modal .modal-header h5{
        font-size: 22px;
    }
    .admin-modal .modal-content {
        padding-bottom: 20px;
    }
    .passcode .login-card .login {
        font-size: 24px;
        line-height: 36px;
    }
    .lockers .locker-detail {
        padding: 13px 20px;
        padding-bottom: 20px;
    }
    .lockers .locker.not-available .locker-condition img{
        width: 32px;
        height: 32px;
        margin-bottom: 10px;
    }
    .passcode {
        padding-top: 50px;
    }
    .locker-unit .unit-count h6 {
        font-size: 28px;
    }
    .locker-unit .unit-count h3 {
        font-size: 32px;
        padding: 0px 15px 0px 15px;
    }
    .locker-unit .passcode, .locker-location .passcode {
        padding: 0;
    }
    .locker-unit .btn.available, .locker-unit .btn.not-available {
        font-size: 18px;
    }
    .unit .unit-count{
        margin-bottom: 0 !important;
    }
    .unit .location-detail{
        padding:15px 20px;
    }
    .unit .location-btn{
        padding-top: 10px;
    }
    .location .location-count h6 {
        padding: 10px 15px;
        line-height: 28px;
        padding-bottom: 6px;
    }
    .locker-unit .unit-count h3 {
        font-size: 28px;
        padding: 12px 15px;
        line-height: 27px;
        padding-bottom: 6px;
    }
    .locker-unit .btn.available {
        padding: 10px 15px;
    }
    .unit .location-detail h6{
        font-size: 16px;
    }
    .users-profile .profile-body label, .users-profile .profile-body h5 {
        font-size: 20px;
        line-height: 27px;
    }
    .users-profile .profile-footer .btn {
        font-size: 18px;
        line-height: 18px;
    }
    .users-profile .profile-footer .btn img{
        width: 35px;
        margin-right: 5px;
    }
        .users-profile .profile-footer .btn.remove-item img, .users-profile .profile-footer .btn.lock-locker img {
            width: 28px;
        }
        .users-profile .profile-footer .btn {
            padding: 8px 40px;
            display: flex;
            align-items: center;
        }
    .users-profile .user-name h5 {
        font-size: 22px;
        line-height: 24px;
    }
    .users-profile .profile-number h1 {
        font-size: 28px;
        line-height: 35px;
    }
    .users-profile .profile-number{
        border-radius: 15px;
    }
    .emp-table th, .emp-table td {
        font-size: 18px;
    }
    .dashboard .locker-unit {
        padding: 20px 25px;
    }
    .locker-add-modal {
        max-width: 700px !important;
        width: 100%;
    }
    .quantity-field{
        height: auto;
    }
    .user-table .tab .nav-item .nav-link {
        font-size: 16px;
    }
    .lockers .locker.available .locker-condition img.success {
        margin-bottom: 0px;
    }
}