@media screen and (max-width: 1600px) {
    .landing-page .content {
        height: 600px;
        padding-left: 135px;
    }

    .login.content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 95px);
    }

    .heading-col h2 {
        padding-left: 45px;
        padding-bottom: 20px;
    }

    .menus .row {
        justify-content: center;
    }

    .menus .menu-item img {
        width: 50px;
        height: 50px;
    }

    .menu-item {
        width: 190px;
        height: 190px;
    }

    .menus .menu-items {
        align-items: center;
    }

    .passcode .login-card .form-control.user-passcode {
        height: 70px;
    }

    .passcode .login-card .login {
        padding: 15px;
    }

    .user-menu .col-lg-2 .row, .user-menu .col-lg-3 .row {
        padding: 15px 5px;
    }

    .content-wrapper, .lockers .content-wrapper {
        padding: 15px;
    }

    .login-card {
        max-width: 420px;
        padding: 30px 25px;
        margin-bottom: 20px;
    }

    .passcode .main-heading, .passcode .login-card h5 {
        margin-bottom: 20px;
    }
 
    .profile h5 {
        padding: 0;
        font-size: 18px;
        width: 76%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 10px !important;
    }

    .profile > .row::after {
        width: 13px;
        height: 13px;
        top: 20px;
        right: 6px;
    }

    .menu-landing .heading-col {
        height: calc(100vh - 40px);
    }

    .user-profile img {
        width: 30px;
    }

    .locker-unit .grid {
        display: grid;
        grid-template-columns: repeat(5, auto);
    }

    .passcode .login-card .form-control.user-passcode, .passcode .login-card .form-control.user-email {
        height: 64px;
        font-size: 32px;
    }
    .create-user .create-user-form .submit {
        height: 75px;
        font-size: 24px;
    }
    .lockers .locker .user-name{
        margin-left: 10px;
        font-size: 22px;
    }
    .lockers .locker-condition {
        padding: 25px;
    }
    .lockers .locker .count {
        font-size: 30px;
        line-height: 42px;
        padding: 8px 20px;
        padding-bottom: 5px;
    }
    .admin-modal .btn {
        font-size: 24px;
        height: 80px;
        max-width: 400px;
        padding: 18px 70px;
    }
    .passcode .login-card .form-control.user-email {
        font-size: 25px !important;
        padding: 15px 20px;
    }
    .passcode .login-card h5, .admin-modal label {
        font-size: 20px;
    }
    .create-user .create-user-form input {
        font-size: 18px;
        height: 45px;
    }
    .main-heading h5{
        font-size: 22px;
    }
    .dashboard .locker-unit h5{
        font-size: 18px;
    }
    .dashboard .locker-unit h1{
        font-size: 56px;
    }
    .locker-add-modal .modal-header {
        padding-bottom: 25px;
        padding-top: 30px;
    }
    .admin-modal .modal-content{
        padding-bottom: 30px;
    }
    .passcode .login-card .login {
        font-size: 24px;
        line-height: 36px;
    }
    .lockers .locker-detail {
        padding: 25px 30px;
    }
    .passcode {
        padding-top: 50px;
    }
    .locker-unit .unit-count h6 {
        font-size: 32px;
    }
    .locker-unit .unit-count h3 {
        font-size: 32px;
        padding: 0px 15px 0px 15px;
    }
    .locker-unit .passcode, .locker-location .passcode {
        padding: 0;
    }
    .locker-unit .btn.available, .locker-unit .btn.not-available {
        font-size: 18px;
    }
    .unit .unit-count{
        margin-bottom: 0 !important;
    }
    .unit .location-detail{
        padding:15px 20px;
    }
    .unit .location-btn{
        padding-top: 10px;
    }
}
