@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Locker User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid main p-0">
    <div class="title-bar">
        <h5>Locate User Locker</h5>
    </div>
    @if (!SignInManager.IsSignedIn(User))
    {
        <div class="content-wrapper login">
            <div class="passcode d-flex align-items-center text-center">
                <div class="main-heading">
                    <h5>Locker Login</h5>
                    <p>ICS Login</p>
                </div>
                <div class="login-card">
                    <h5>Enter User Passcode</h5>
                    <input type="password" class="form-control user-passcode" minlength="4" maxlength="4">

                    <button type="submit" class="btn btn-danger login" onclick="fnLoginMethod()">LOGIN</button>
                </div>
                <div class="note">
                    <p>* Enter User ID Number as Passcode to Login</p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div style="margin: 100px; margin-top: 150px">
            <div>You have been signed in successfully. Currently, <b>Development</b> is going on and we will let you know shortly...</div>
        </div>
    }
</div>