@using Microsoft.AspNetCore.Identity
@model List<LockerUnits>

@{
    ViewData["Title"] = "Locker User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid main locker-unit p-0">
    <div class="title-bar">
        <h5>View Locker Units</h5>
    </div>
    <div class="content-wrapper">
        <div class="passcode d-flex align-items-center pb-5 text-center">
            <div class="main-heading">
                <h5>Locker Units SELECTION</h5>
            </div>
            <div class="col-lg-12 p-0">
                <div class="grid">
                    @foreach(LockerUnits lockerUnits in Model)
                    {
                        <partial name="/Views/Admin/_Units.cshtml" model="lockerUnits" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
